src/main/resources/at/ac/tuwien/damap/spec/oaf/oaf-result-1.0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>This schema describes elements and properties of the OpenAIRE Result entity. For an overview
            of the model, please check the OpenAIRE Research Graph Data Model at https://doi.org/10.5281/zenodo.2643199
        </xs:documentation>
    </xs:annotation>

    <xs:include schemaLocation="oaf-common-1.0.xsd"/>

    <xs:element name="result">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="creator">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="surname" type="xs:string"/>
                                <xs:attribute name="ORCID" type="xs:string"/>
                                <xs:attribute name="rank" type="xs:int"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="resulttype" type="qualifierType">
                    <xs:annotation>
                        <xs:documentation> Tells if this record is about a publication or a dataset.
                            <p>For allowed values check:
                                http://api.openaire.eu/vocabularies/dnet:result_typologies </p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="language" type="qualifierType"/>
                <xs:element name="country" type="dataInfoType"/>
                <xs:element name="subject" type="structuredPropertyElementType"/>
                <xs:element name="title" type="structuredPropertyElementType">
                    <xs:annotation>
                        <xs:documentation> Title of this research result. <p>Different types of
                            titles are allowed: see http://api.openaire.eu/vocabularies/dnet:dataCite_title</p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="relevantdate" type="structuredPropertyElementType"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="dateofacceptance" type="xs:string"/>
                <xs:element name="publisher" type="xs:string"/>
                <xs:element name="embargoenddate" type="xs:string"/>
                <xs:element name="source" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>The semantics of this field is inherited from dc:source in
                            Dublin Core. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="format" type="xs:string"/>
                <xs:element name="contributor" type="xs:string"/>
                <xs:element name="resourcetype" type="qualifierType">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            expresses the nature of the dataset. <p>For allowed values check:
                                http://api.openaire.eu/vocabularies/dnet:publication_resource </p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="coverage" type="xs:string"/>
                <xs:element name="bestaccessright" type="qualifierType">
                    <xs:annotation>
                        <xs:documentation> The best access right available for this result among the
                            available licenses of its children elements. <p>For allowed values
                                check: http://api.openaire.eu/vocabularies/dnet:access_modes </p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="journal" type="journalType"/>
                <xs:element name="pid" type="structuredPropertyElementType">
                    <xs:annotation>
                        <xs:documentation> Persistent identifier. <p>For allowed pid systems check:
                            http://api.openaire.eu/vocabularies/dnet:pid_types </p>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="device" type="xs:string">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            contains information about the device used to generate the dataset.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="size" type="xs:string">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            contains information about the size of the dataset. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="version" type="xs:string">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            contains information about the version of the dataset.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="lastmetadataupdate" type="xs:string">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            is the last update date of the metadata of the dataset.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="metadataversionnumber" type="xs:string">
                    <xs:annotation>
                        <xs:documentation> This field is valid only if resulttype is "dataset". It
                            contains information about the version of the metadata of the dataset.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="originalId" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="collectedfrom" type="namedIdElementType" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Identifier and name of the datasource from which this
                            result has been collected from (e.g., "OpenDOAR"). </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="context" type="contextType">
                    <xs:annotation>
                        <xs:documentation>Research community, initiative, infrastructure or funding agency related to this result.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="rels" type="relsType">
                    <xs:annotation>
                        <xs:documentation>Relationships to other entities. </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="instances" type="instancesType" minOccurs="1" maxOccurs="1"/>
                <xs:element name="citations" type="citationsType" maxOccurs="1" minOccurs="0"/>
                <!-- Needed because Openaire sends results in an incorrect format  -->
                <xs:element name="children" type="resultChildrenType"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="citationsType">
        <xs:sequence>
            <xs:element name="citation" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rawText"/>
                        <xs:element name="id" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="value"/>
                                <xs:attribute name="type"/>
                                <xs:attribute name="confidenceLevel"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="provenance" type="xs:string"/>
        <xs:attribute name="trust" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="journalType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="eissn" use="optional"/>
                <xs:attribute name="issn" use="optional"/>
                <xs:attribute name="lissn" use="optional"/>
                <xs:attribute name="ep" use="optional"/>
                <xs:attribute name="iss" use="optional"/>
                <xs:attribute name="sp" use="optional"/>
                <xs:attribute name="vol" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="instancesType">
        <xs:sequence>
            <xs:element name="instance" type="instanceType" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Actual digital representation of the publication or dataset.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="externalreference" type="externalreferenceType" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="instanceType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="license" type="fieldType">
                <xs:annotation>
                    <xs:documentation> License to access this actual manifestation of the
                        result. Typically it is a URL. OpenAIRE does not yet attempt any harmonization and reflect the original values that are available in the collected metadata records.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="accessright" type="qualifierType"/>
            <xs:element name="instancetype" type="qualifierType">
                <xs:annotation>
                    <xs:documentation> Type of the instance, for example: article, thesis, etc.
                        <p>For allowed values check: http://api.openaire.eu/vocabularies/dnet:publication_resource
                        </p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="collectedfrom" type="namedIdElementType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datasource from which OpenAIRE collected the description of this instance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hostedby" type="namedIdElementType" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Datasource hosting this file. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="webresource" type="webresourceType" minOccurs="1"
                        maxOccurs="unbounded"/>
            <xs:element name="distributionlocation" type="xs:string" minOccurs="0"/>
            <xs:element name="dateofacceptance" type="xs:string" minOccurs="0"/>
            <xs:element name="processingchargeamount" type="fieldType">
                <xs:annotation>
                    <xs:documentation> Article/Book Processing Charge </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processingchargecurrency" type="fieldType">
                <xs:annotation>
                    <xs:documentation>Currency for the value in processingchargeamount </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="refereed" type="fieldType">
                <xs:annotation>
                    <xs:documentation>Peer-review status</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="id" use="required"/>
    </xs:complexType>

    <xs:complexType name="webresourceType">
        <xs:sequence>
            <xs:element name="url" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Needed because Openaire sends results in an incorrect format  -->
    <xs:complexType name="resultChildrenType">
        <xs:sequence>
            <!-- <xs:choice>  -->
            <xs:element name="result" type="childrenResult" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="instance" type="instanceType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Actual digital representation of the publication or dataset. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="externalreference" type="externalreferenceType" minOccurs="0" maxOccurs="unbounded"/>
            <!-- </xs:choice>  -->
        </xs:sequence>
    </xs:complexType>

    <!-- Needed because Openaire sends results in an incorrect format  -->
    <xs:complexType name="childrenResult">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="title" type="fieldType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>
                        Title of this research result.
                        <p>Different types of titles are allowed: see http://api.openaire.eu/vocabularies/dnet:dataCite_title </p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dateofacceptance" type="xs:string"/>
            <xs:element name="publisher" type="xs:string"/>
            <xs:element name="resulttype" type="fieldType">
                <xs:annotation>
                    <xs:documentation>
                        Tells if this record is about a publication or a dataset.
                        <p>For allowed values check: http://api.openaire.eu/vocabularies/dnet:result_typologies </p>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="objidentifier" use="required"/>
    </xs:complexType>
</xs:schema>
